
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import '~bootstrap/scss/bootstrap';

html, body {
  background-color: #fff;
  font-family: 'Raleway', sans-serif;
}

.wedstrijd, .lifters {
  table.lifters {
    text-align: center;
    td {
      vertical-align: middle;
      height: 60px;
      width: 70px;
      padding: 0;

      &:hover {
        background-color: rgba(0, 0, 0, 0.075);
      }

      form {
        display: inline-block;
        margin: auto;
      }
      a {
        display: block;
        padding: 0.75rem;

        &:hover {
          text-decoration: none;
        }
      }
      input {
        width: 45px;
        padding: 5px !important;
        text-align: center;
      }
      &.autoWidth input {
        width: auto;
      }
    }
  }
}